{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Screening Popups</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
   
    <div class="">
       
<nav>
            <h1>Recruiter.ai</h1>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/outreach">Outreach</a></li>
                <li><a href="/candidate">Candidates</a></li>
                <li><a href="/screening">Screening</a></li>
                <li><a href="/positions">Positions</a></li>
            </ul>
            <div class="user-info">
                 <p>User Name: {{ user.username }}</p>
                <p><a href="/logout">Logout</a></p>
            </div>
        </nav>
    
        <div class="content">
            <div class="candidate-search-bar">
                <form action="#" method="post">
                    <input type="text" id="search"  class ='search-can' name="search" placeholder="Search candidate by name">
                    <button type="submit" class="search-apply">Search </button>
                </form>
                <div class="filters">
                    <select name="vacancy-filter-1">
                        <option value="">Sort by score</option>
                         <option value="60">60</option>
                          <option value="70">70</option>
                           <option value="90">90</option>
                       
                    </select>
                </div>
                <div>
                   
                        <form style='margin-left: 100px;
    margin-top: -7px;' method="post" enctype="multipart/form-data" action="/candidate/upload/" >
                            {% csrf_token %}
                            <input type="file" name="resume" accept=".pdf,.doc,.docx">
                            <button type="submit">Upload</button>
                        </form>
                    </div>
    </form>
            </div>
            <div class="candidates">
                <h2>Candidates Profile</h2>
                <div id='student-append'>


                </div>
                
               
              
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="{% static 'script/common-script.js' %}"></script>
<script type="text/javascript" src="{% static 'script/candidate.js' %}"></script>
    <footer>
        <p>All Copyrights Reserved @2024</p>
    </footer>
</body>
</html>
