{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
   
    <div class=''>
       
    <nav>
            <h1>Recruiter.ai</h1>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/outreach">Outreach</a></li>
                <li><a href="/candidate">Candidates</a></li>
                <li><a href="/screening">Screening</a></li>
                <li><a href="/positions">Positions</a></li>
            </ul>
            <div class="user-info">
                 <p>User Name: {{ user.username }}</p>
                <p><a href="/logout">Logout</a></p>
            </div>
        </nav>
    
        <div class="container">
    
    <ul class="tabs">
      <li class="active" data-tab="create">Create Job Search</li>
      <li data-tab="modify">Modify Job</li>
    </ul>
    </div>
    <div class="tab-content pos">
      <div class="tab-pane active" id="create">
       <form id="job-search-form">
         {% csrf_token %}
      <div class="form-group">
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" placeholder="Enter position">
      </div>
      <div class="form-group">
        <label for="job-type">Job Type:</label>
        <select id="job-type" name="job-type">
          <option value="">Select Job Type</option>
          <option value="Full-Time">Full-Time</option>
          <option value="Part-Time">Part-Time</option>
          <option value="Contract">Contract</option>
        </select>
      </div>
        <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="">Select Job Type</option>
          <option value="Closed">Full-Time</option>
          <option value="Progress">Part-Time</option>
          
        </select>
      </div>
      <div class="form-group">
        <label for="department">Department:</label>
        <select id="department" name="department">
          <option value="">Select Department Type</option>
          <option value="Technology">Technology</option>
          <option value="Product">Product</option>
          <option value="sales">sales</option>
        </select>
      </div>
      <div class="form-group">
        <label for="min-salary">Min Salary:</label>
        <input type="number" id="min-salary" name="min-salary" placeholder="Enter Minimum Salary">
      </div>
      <div class="form-group">
        <label for="max-salary">Max Salary:</label>
        <input type="number" id="max-salary" name="max-salary" placeholder="Enter Maximum Salary (Optional)">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="Enter Job Location (Optional)">
      </div>
      <div class="form-group">
        <label for="hiring-manager">Hiring Manager Email:</label>
        <input type="email" id="hiring-manager" name="hiring-manager" placeholder="Enter Hiring Manager Email">
      </div>
      <div class="form-group">
        <label for="recruiter-email">Recruiter Email:</label>
        <input type="email" id="recruiter-email" name="recruiter-email" placeholder="Enter Recruiter Email (Optional)">
      </div>
      <button type="submit" id='job-form'>Create Job</button>
    </form>
      </div>
      <div class="tab-pane" id="modify">
<table id="jobs-table">
          <thead>
            <tr>
              <th>Position</th>
              <th>Department</th>
              <th>Location</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id='jobs-table-body'>
          
          
          </tbody>
        </table>
        <div id="modify-form-container" style="display: none;">
          <h2>Modify Job Details</h2>
          <form id="modify-job-form">
            <div class="form-group">
              <label for="modify-Position">Position:</label>
              <input type="text" id="modify-Position" name="modify-title" required>
            </div>
            <div class="form-group">
              <label for="modify-Department">Department:</label>
              <input type="text" id="modify-Department" name="modify-Department" required>
            </div>
            <div class="form-group">
              <label for="modify-location">Location:</label>
              <input type="text" id="modify-location" name="modify-location" required>
            </div>
            <div class="form-group">
              <label for="modify-status">Status:</label>
              <select id="modify-status" name="modify-status">
                <option value="Progress">Progress</option>
                <option value="Closed">Closed</option>
              </select>
            </div>
           <div class="form-group" >
              
              <input type="text"  id="modify-id" name="modify-id" required>
            </div>
            <button type="submit">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 
    </div>
    <footer>
        <p>All Copyrights Reserved @2024</p>
    </footer>
    <script type="text/javascript" src="{% static 'script/common-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'script/position.js' %}"></script>
</body>
</html>
