
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
   
    <div >
       
        <nav>
            <h1>Recruiter.ai</h1>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/outreach">Outreach</a></li>
                <li><a href="/candidate">Candidates</a></li>
                <li><a href="/screening">Screening</a></li>
                <li><a href="/positions">Positions</a></li>
            </ul>
            <div class="user-info">
                 <p>User Name: {{ user.username }}</p>
                <p><a href="/logout">Logout</a></p>
            </div>
        </nav>
    
      
    <h1>Job Interview Questions</h1>
    

    

    <div class="add-question">
      <h2>Add Question</h2>
      <form id="add-question-form">
        <div class="form-group">
          <label for="department">Department:</label>
          <select id="department" name="department">
            <option value="">Select Department</option>
        </select>
      </div>
        <div class="form-group">
        <label for="position">Job Position:</label>
        <select id="position" name="position">
          <option value="">Select Position </option>
        </select>
      </div>
               <div class="form-group">
        <label for="location">Location:</label>
        <select id="location" name="location">
          <option value="">Select Location</option>
        </select>
      </div>
        <div class="form-group">
          <label for="question">Question:</label>
          <textarea name="question" id="question" placeholder="Enter Interview Question"></textarea>
        </div>
        
        <button type="submit">Add Question</button>
      </form>
    </div>
        <div class="question-list">
      <h2>Listed Questions</h2>
      <div id="questions-container">
        <table id='questions-table'></table>
      </div>
    </div>
    </div>
 
    <footer>
        <p>All Copyrights Reserved @2024</p>
    </footer>
<script type="text/javascript" src="{% static 'script/common-script.js' %}"></script>
<script type="text/javascript" src="{% static 'screening.js' %}"></script>
</body>
</html>
